<h2>{{titulo}}</h2>
<hr>

<div *ngIf="!productos">
    CARGANDO LISTADO DE PRODUCTOS...
</div>

<div *ngIf="productos">
    <div class="row">
        <div class="border-dark my-2 border  col-lg-3" *ngFor="let producto of productos">
            <div class="thumbail">
                <div *ngIf="producto.imagen" class="imagen_container">
                    <a  routerLink="/producto/{{producto.id}}"><img class="producto_imagen pt-4"
                        src="http://localhost:8080/cursoanglar-backend/uploads/{{producto.imagen}}"></a>
                </div>
                <div *ngIf="!producto.imagen">
                    <div class="img_relleno pt-4"></div>
                </div>
                <div class="caption">
                    <h3 class="title text-center">{{producto.nombre}}</h3>
                    <p>$ {{producto.precio}} </p>
                    <div class="text-center mb-3" *ngIf="confirmado != producto.id">
                        <a routerLink="/producto/{{producto.id}}" class="btn btn-sm btn-outline-dark mx-1">Ver</a>
                        <a routerLink="/editar-producto/{{producto.id}}"
                            class=" mx-1 btn btn-outline-dark btn-sm  mx-1">Editar</a>
                        <a (click)="borrarConfirm(producto.id)" class="btn btn-outline-dark btn-sm ">Eliminar</a>
                    </div>
                    <div class="seguro" *ngIf="confirmado == producto.id">
                        <p>¿Estas seguro de eliminar este producto ?</p>
                        <a (click)="onDeleteProduct(producto.id)" class="btn btn-sm btn-outline-dark mx-1">Eliminar</a>
                        <a (click)="cancelarConfirm()" class="btn btn-sm btn-outline-dark mx-1">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>