

.img_relleno{
    background: #ccc;
    width: 90%;
    height: 179px;
    margin: 1.3rem 12px;
}

.imagen_container{
    width: 100%;
    overflow: hidden;
}

.buttons{
    width: 100%;
    margin: 0 auto;
}